
* {
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #ddd9d9;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.errBox {
    background-color: rgba(255, 0, 0, 0.37);
    text-align: center;
}
img {
    height: 100%;
}
.parent {
    width: 100%;
    height: 100%;
}
.registration-container{
    text-align: center;
    padding: 20px;
    background-color: #ffffffc2;
    box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.144);
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    border: 0.5px solid rgb(114, 114, 114);
    margin: auto;
    margin-top: 18%;
    transform: translatey(-50%);
}
.registration-container h2 {
    margin-top: 0;
}
.registration-container table {
    width: 100%;
    text-align: left;
}
.registration-container table td{
    padding-left: 5px;
    padding-right: 5px;
}
.registration-container input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}
.registration-container input[type="submit"] { 
    margin-top: 5px;
    background-color: rgb(255, 255, 131);
    border: 1px solid rgb(170, 170, 170);
}
.registration-container input[type="reset"] {
    margin-top: 5px;
    background-color: rgba(255, 0, 0, 0.644);
    border: 1px solid rgb(170, 170, 170);
}